.detail{
    margin: 50px 300px 50px 300px;
    display: flex;
    align-items:center;
    color:black;
    font-family: 'Gloria Hallelujah', cursive;
    justify-content: center;
    padding: 0px;
    position: relative;
    border-radius: 10%;
    background:linear-gradient(#45FFCA, #ffffff);
    border-color:yellow;
}

.caracterisiticas{
    position: absolute; 
    
    
    margin-right: 50px;
}

.img{
    border-radius: 10%;
    border-style: solid;
    border-color:yellow; 
    width: 40%;
    margin-right: 50px;
}