body{
  margin: 0;
  font-family: 'Gloria Hallelujah', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://img.freepik.com/fotos-premium/paisaje-colorido-planetas-montanas-arte-generativo-ia_158863-14299.jpg?w=900);
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 100vh;

}

@media (max-width: 680px){
  .naveg{
    flex-direction: column;
  }
  .botones{
    padding: 10px 0px;
  }
}
