.formulario{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    /* background:linear-gradient(#45FFCA, #ffffff); */
    height: 20%;
    width: 20%;
    margin-left: 40%;
    margin-top:5%;
    border-radius: 2%;
}

.requi{
    display: flex;
    margin: 10px; 
    align-items: center;
    background:linear-gradient(#45FFCA, #ffffff);
    padding: 15px;
    border-radius: 10%;
    flex-direction: column;
    font-family:'Gloria Hallelujah', cursive;
    font-size: 20px; 
}

.label{
    padding-top: 20px;
    font-family:'Gloria Hallelujah', cursive;
}

.i{
    /* margin-top:5px; */
    border-radius: 10%;
    size: 30px;
    font-family:'Gloria Hallelujah', cursive;
}

.imagen{
    border-radius:2%;
    margin-top:5%;
    width: 90%;
}

.btn{
    border-radius: 10%;
    border-style: groove;
    border-color: yellow;
    width: 80px;
    height: 35px;
    margin-bottom: 2%;
    background:linear-gradient(#45FFCA, #ffffff);
    font-family:'Gloria Hallelujah', cursive;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    position: relative;
  } 