/* .barra{
    height: 80;
    display: flex;
    justify-content: end; 
    ;
    width: 98.5%;
    background-color: #141E46;
    padding: 10px;
    
}  */

.texto{
    left: 36%;
    border-style: solid;
    width: 150px;
    height: 35px;
    border-radius: 20px;
    font-family: monospace;
}

.btn{
    border-style: solid;
    margin-inline: 10px;
    background-color: #45FFCA;
    color: black;
    left: 38%;
    border-radius: 20px;
    width: 80px;
    height: 35px;
    font-family:monospace;
}