.contenedor{
    background:linear-gradient(#45FFCA, #ffffff);
    display: flex;
}

.texto{
    background:linear-gradient(#45FFCA, #ffffff);
    color: black;
    margin-top:32%;
    font-family:'Gloria Hallelujah', cursive;
}